*{
    margin: 0;
    padding:0;
}

#addTodoSection{
    margin-top: 0.625rem;
}

.bi-plus{
    margin: 0.625rem;
    font-size: 2.50rem;
}

#addTodoInput{
    margin: 0.625rem;
    font-size: 1.875rem;
}

#addTodoInput:placeholder-shown{ 
    font-size: 1.875rem;
}

.todoListItemCheckButton{
    margin:0.625rem;
}

#todoStringContainer{
    font-size: 1.25rem;
}

#pending{
    margin-right: 3.75rem;
    margin-left: 3.75rem;
    padding: 1.25rem;

}
#completed{
    margin-right: 3.75rem;
    margin-left: 3.75rem;
    padding: 1.25rem;
  
}
#completedItems{
    margin-top: 0.625rem;
    font-size: 1rem;
}
#pendingItems{
    margin-top: 1.25rem;
    font-size: 1rem;
}

.todoListItemCheckButton:checked{
    border-color: black;
    background-color: black;
  }

html, body{
    width: auto!important;
    overflow-x: hidden!important;
  
  }
